* {
  box-sizing: border-box;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}

main .equal-widths .row > div:nth-child(1)::before {
  background-color: rgb(128, 173, 187);
}
main .equal-widths .row > div:nth-child(2)::before {
  background-color: rgb(212, 155, 113);
}
main .equal-widths .row > div:nth-child(3)::before {
  background-color: rgb(145, 113, 106);
}
main .cells-1 .row > div:nth-child(1)::before {
  background-color: rgb(162, 193, 109);
}
main .cells-1 .row > div:nth-child(2)::before {
  background-color: rgb(190, 148, 118);
}
main .cells-1 .row > div:nth-child(3)::before {
  background-color: rgb(110, 104, 195);
}
main .cells-2 .row > div:nth-child(1)::before {
  background-color: rgb(146, 162, 202);
}
main .cells-2 .row > div:nth-child(2)::before {
  background-color: rgb(144, 187, 131);
}
main .cells-2 .row > div:nth-child(3)::before {
  background-color: rgb(194, 184, 212);
}
main .cells-3 .row > div:nth-child(1)::before {
  background-color: rgb(181, 201, 169);
}
main .cells-3 .row > div:nth-child(2)::before {
  background-color: rgb(147, 146, 197);
}
main .cells-3 .row > div:nth-child(3)::before {
  background-color: rgb(126, 212, 151);
}
main .cells-4 .row > div:nth-child(1)::before {
  background-color: rgb(218, 119, 211);
}
main .cells-4 .row > div:nth-child(2)::before {
  background-color: rgb(179, 129, 209);
}
main .cells-4 .row > div:nth-child(3)::before {
  background-color: rgb(107, 216, 126);
}
main .cells-5 .row > div:nth-child(1)::before {
  background-color: rgb(159, 184, 106);
}
main .cells-5 .row > div:nth-child(2)::before {
  background-color: rgb(123, 104, 131);
}
main .cells-5 .row > div:nth-child(3)::before {
  background-color: rgb(105, 187, 161);
}
main .cells-6 .row:nth-child(1) > div::before {
  background-color: rgb(132, 126, 195);
}
main .cells-6 .row:nth-child(2) > div::before {
  background-color: rgb(165, 178, 108);
}
main .cells-6 .row:nth-child(3) > div::before {
  background-color: rgb(127, 167, 138);
}
main .cells-6 .row:nth-child(4) > div::before {
  background-color: rgb(187, 189, 166);
}
main .cells-6 .row:nth-child(5) > div::before {
  background-color: rgb(214, 212, 108);
}
main .cells-6 .row:nth-child(6) > div::before {
  background-color: rgb(182, 205, 106);
}
main .cells-6 .row:nth-child(7) > div::before {
  background-color: rgb(175, 199, 112);
}
main .cells-6 .row:nth-child(8) > div::before {
  background-color: rgb(127, 180, 197);
}
main .cells-6 .row:nth-child(9) > div::before {
  background-color: rgb(103, 216, 143);
}
main .cells-6 .row:nth-child(10) > div::before {
  background-color: rgb(133, 172, 168);
}
main .cells-6 .row:nth-child(11) > div::before {
  background-color: rgb(156, 127, 164);
}
main .cells-6 .row:nth-child(12) > div::before {
  background-color: rgb(217, 177, 133);
}
main .cells-7 .row > div:nth-child(1)::before {
  background-color: rgb(155, 193, 216);
}
main .cells-7 .row > div:nth-child(2)::before {
  background-color: rgb(156, 151, 141);
}
main .cells-7 .row > div:nth-child(3)::before {
  background-color: rgb(176, 143, 128);
}
main .cells-8 .row > div:nth-child(1)::before {
  background-color: rgb(143, 121, 130);
}
main .cells-8 .row > div:nth-child(2)::before {
  background-color: rgb(106, 154, 172);
}
main .cells-8 .row > div:nth-child(3)::before {
  background-color: rgb(102, 127, 107);
}
main .cells-9 .row > div:nth-child(1)::before {
  background-color: rgb(166, 207, 220);
}
main .cells-9 .row > div:nth-child(2)::before {
  background-color: rgb(147, 136, 213);
}
main .cells-9 .row > div:nth-child(3)::before {
  background-color: rgb(129, 146, 147);
}
main .cells-10 .row > div:nth-child(1)::before {
  background-color: rgb(118, 153, 164);
}
main .cells-10 .row > div:nth-child(2)::before {
  background-color: rgb(207, 180, 156);
}
main .cells-10 .row > div:nth-child(3)::before {
  background-color: rgb(191, 219, 105);
}
main .cells-11 .row > div:nth-child(1)::before {
  background-color: rgb(107, 138, 164);
}
main .cells-11 .row > div:nth-child(2)::before {
  background-color: rgb(163, 198, 131);
}
main .cells-11 .row > div:nth-child(3)::before {
  background-color: rgb(123, 183, 101);
}
main .cells-12 .row > div:nth-child(1)::before {
  background-color: rgb(139, 202, 159);
}
main .cells-12 .row > div:nth-child(2)::before {
  background-color: rgb(177, 171, 194);
}
main .cells-12 .row > div:nth-child(3)::before {
  background-color: rgb(165, 188, 189);
}
main .cells-13 .row > div:nth-child(1)::before {
  background-color: rgb(158, 147, 206);
}
main .cells-13 .row > div:nth-child(2)::before {
  background-color: rgb(139, 120, 166);
}
main .cells-13 .row > div:nth-child(3)::before {
  background-color: rgb(172, 144, 140);
}
main h3 {
  margin-bottom: 0.25rem;
}
main p:first-child,
main h3 + p {
  margin-top: 0;
}
main p:last-child {
  margin-bottom: 0;
}
main strong {
  display: inline-block;
  margin: 2rem auto 1rem 0;
  font-size: 18px;
}
main .the-grid .container {
  background-color: #efefef;
}
main .the-grid .row {
  margin-bottom: 0.25rem;
}
main .the-grid .row > div {
  height: 40px;
}
main .the-grid .row > div::before {
  content: attr(class);
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
}

.view-breakpoint {
  padding: 1rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
}
.view-breakpoint::before {
  font-size: 18px;
}
.view-breakpoint::after {
  font-size: 30px;
  font-weight: 600;
}

@media only screen and (max-width: 568px) {
  .view-breakpoint::before {
    content: "Current breakpoint: ";
  }
  .view-breakpoint::after {
    content: "sm";
  }
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  .view-breakpoint::before {
    content: "Current breakpoint: ";
  }
  .view-breakpoint::after {
    content: "md";
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .view-breakpoint::before {
    content: "Current breakpoint: ";
  }
  .view-breakpoint::after {
    content: "lg";
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .view-breakpoint::before {
    content: "Current breakpoint: ";
  }
  .view-breakpoint::after {
    content: "xl";
  }
}
@media only screen and (min-width: 1281px) {
  .view-breakpoint::before {
    content: "Current breakpoint: ";
  }
  .view-breakpoint::after {
    content: "xxl";
  }
}